@import url("https://fonts.googleapis.com/css?family=Figtree:500,800&display=swap");
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
	overflow-x: hidden;
	font-family: "Figtree", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: var(--yellow);
}
.main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1440px;
	margin: 0px auto;
	padding: 0px 15px;
}
:root {
	--black: #111;
	--pure-white: #fff;
	--yellow: #f4d04e;
	--grey: #7f7f7f;
}
.page {
	padding-top: 218.5px;
	padding-bottom: 219.5px;
	// .page__container
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.item {
	max-width: 384px;
	padding: 24px;
	border: 1px solid var(--black);
	border-radius: 20px;
	box-shadow: 8px 8px 0 0 #000;
	background: var(--pure-white);
	transition: box-shadow 0.3s ease 0s;
	cursor: pointer;
	&:hover{
		box-shadow: 16px 16px 0 0 #000;
	}
	// .item__image
	&__image {
		img {
			max-width: 100%;
		}
		margin-bottom: 24px;
	}
	// .item__text
	&__text {
		margin-bottom: 24px;
		*:not(:last-child){
			margin-bottom: 12px;
		}
	}
	// .item__link
	&__link {
		background: var(--yellow);
		border-radius: 4px;
		padding: 4px 12px;
		font-family: var(--font-family);
		font-weight: 800;
		font-size: 14px;
		line-height: 150%;
		color: var(--black);
		transition: background-color 0.3s ease 0s;
		&:hover{
			background-color: #e4be32;
		}
	}
	// .item__descr
	&__descr {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		color: var(--black);
		margin-top: 12px;
	}
	// .item__title
	&__title {
		font-family: var(--font-family);
		font-weight: 800;
		font-size: 24px;
		line-height: 150%;
		color: var(--black);
		transition: color 0.3s ease 0s;
		&:hover{
			color: var(--yellow)
		}
	}
	// .item__subtitle
	&__subtitle {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		color: var(--grey);
	}
	// .item__avatar
	&__avatar {
		display: flex;
		align-items: center;
		flex: 0 0 32px;
	}
	// .item__icon
	&__icon {
		height: 32px;
		padding-right: 12px;
		img {
			max-width: 100%;
		}
	}
	// .item__autor
	&__autor {
		font-family: var(--font-family);
		font-weight: 800;
		font-size: 14px;
		line-height: 150%;
		color: var(--black);
	}
}